<launch>
  <arg name="gui" default="true"/>
  <arg name="kbteleop" default="true"/>
  <include file="$(find tetris_gazebo)/launch/tetris_world.launch" >
    <arg name="gui" value="$(arg gui)" />
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <group if="$(arg kbteleop)">
    <node pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" launch-prefix="xterm -e" >
      <remap from="cmd_vel" to="/tetris/cmd_vel" />
    </node>
  </group>
</launch>
